.order_number h2 {
    color: #ff0033;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.order_number h1 {
    justify-content: center;
    text-align: center;
    
    
}

.order_number p {
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}


.orderback {
    display: block;
    width: 200px;
    height: 40px;
    background-color: #ff0033;
    border: none;
    border-radius: 10px;
    margin-top: 100px;
    cursor: pointer;
    bottom: 0
}
 
.orderback a {
    display: block;
    text-decoration: none;
    color: white;
}

.create_message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.order_number {
    display: block;
    padding-top: 30px;
}



